.app {
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
}

.headerBarContainer {
  height: 49px;
}

.appContentContainer {
  height: calc(100% - 105px);
  overflow: auto;
  padding: 10px;
}

.appContentContainer > div {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

table th {
  background-color: var(--gray-bg) !important;
  color: #fff !important;
}

/* table tr:nth-child(even) {
  background-color: #f2f2f2 !important;
} */

table th svg {
  color: #fff !important;
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  transition: none !important;
}

table tr td {
  background: unset !important;
  transition: none;
}

table tbody tr:hover {
  background: linear-gradient(to right, #ffa33c, #ecb400) !important;
}

table tbody tr:hover td {
  color: #fff;
}
