header {
  background: linear-gradient(135deg, #f78e21, #f7c834, #369fd4) !important;
}

header > div {
  background: linear-gradient(135deg, #f78e21, #f7c834, #369fd4) !important;
}

header div[data-test="headerbar-logo"] {
  border-right: 0;
}

.headerbar-title {
  color: var(--white);
  margin-left: 10px;
}

.headerbar-logo img.logo {
  max-height: 70px;
  min-height: auto;
  width: auto;
}
