@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f68e22;
  --primary-light: rgba(246, 142, 34, 0.9);

  --danger-red: #ec3a29;
  --orange: #f68e22;
  --green: #158d46;
  --orange-light: rgba(246, 142, 34, 0.5);
  --red-light: rgba(236, 58, 41, 0.5);
  --white: #fff;
  --gray-light: #9b9b9b;
  --gray-bg: #898989;
  --badge-orange: rgb(250, 198, 144);
  --logo-bg: #fbf9f3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: contain; /* disable refresh */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.capture-form-container * {
  font-family: "Times New Roman", Times, serif !important;
}

.modal-body .card {
  border: 0;
}

.modal-body .card-body {
  padding: 0.5rem;
}

.modal-body {
  padding: 0.5rem !important;
}
