.loading-mask-container {
  width: 100%;
  height: 100%;
  min-width: 150px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
