table.disable-triple tr:nth-child(even) {
  background-color: unset !important;
}

table.disable-triple tr.disabled-row {
  background-color: rgba(0, 0, 0, 0.05) !important;
  color: #212529;
}

table tr.open-row {
  background-color: #349fd5;
  color: #fff;
}

table tr.disabled-row {
  background-color: rgba(0, 0, 0, 0.05) !important;
  color: #212529;
}
